# Ignore bundler config.
/.bundle
# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/tmp
!/log/.keep
!/tmp/.keep
# Ignore uploaded files in development
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/public/assets
# Ignore master key for decrypting credentials and more.
bundle.js
bundle.js.map
.DS_Store
npm-debug.log
/dist/main.js
/dist/main.js.map